# everything
* 

# but
!tmp_gitignore
!.gitignore
!.gitignore_basic
!.vimrc
!.zshrc
!.vimsyntax.vim
!delete_zcomp.sh


!.vim
!.vim/
!.vim/autoload/
!.vim/autoload/plug.vim
!.vim/pack
!.vim/plugged
!.vim/plugins

!.vim/plugged/vim-airline/**/*

!.config/fish/*

!script_shell/
!script_shell/**

!my_applescripts/
!my_applescripts/**
